body {
  font: normal 1.6rem/1.5 $font-main;
  color: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: normal 300 2rem/1.2 $font-main;
  color: var(--black);
}

h1 {
  font-size: 8rem;
  color: var(--heading);
  font-family: $font-head;

  @include respond(desk-wide) {
    font-size: 10rem;
  }

  @include respond(tab-land) {
    font-size: 6rem;
  }

  @include respond(phone-500) {
    font-size: 4rem;
  }

  @include respond(phone-450) {
    font-size: 3.7rem;
  }

  @include respond(phone-400) {
    font-size: 3.5rem;
  }

  @include respond(phone-300) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  @include respond(phone-400) {
    font-size: 2rem;
  }
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 3.5rem;
  font-weight: 200;
}
h5 {
  font-size: 3rem;
  font-weight: 200;
}
h6 {
  font-family: 2.5rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

ul {
  list-style: none;
}
